# Flutter/Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/
android/app/debug/
android/app/profile/
android/app/release/

# Android
.gradle/
local.properties
*.keystore
*.jks

# iOS
Pods/
.symlinks/
*.moved-aside
DerivedData/

# IDEs
.idea/
*.iml
.vscode/

# Secrets
.env